.register{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
}

.register-layout{
    background-size: 200%;
    background-image: linear-gradient(to right bottom, #ef8354, #cc616c, #955074, #594364, #2d3142);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.register-layout h1{
    color: #FFFFFF;
}

.register-layout p{
    color: #FFFFFF;
    font-size: 20px;
}


/* 
***** FORM *****
*/


.register form{
    border: solid 2px #2d314250;
    border-radius: 10px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
}

/* Input */
.register-form input::placeholder {
    color: #ffffff50;
}

.register-form input{
    background-color: rgba(255, 255, 255, 0);
    width: 250px;
    margin-bottom: 20px;
    padding: 10px 0 10px 0;
    border: none;
    border-bottom: solid 3px #2d314250;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF
}

.register-form input:focus {
    outline: none !important;
    border: none;
    border-bottom: solid 3px #2d3142 !important;
    color: #FFFFFF;
}

.register-link {
    margin-top: 10px;
    padding: 16px;
    background-color: #2d3142;
    transition: linear 0.15s;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border: solid 2px #2d3142;
}

.register-link:hover {
    background-color: #FFFFFF;
    color: #2d3142;
    border: solid 2px #2d3142;
}

.register-btn-submit[type="submit"] {

    background-color: #2d3142;
    transition: linear 0.15s;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.register-btn-submit:hover {
    background-color: #FFFFFF;
    color: #2d3142;
    border: none !important;
}


/*
***** INPUT ERROR *****
*/

.register-error{
    border-bottom: solid 3px rgb(197, 35, 35) !important;
    width: 50% ;
    animation: borderError cubic-bezier(.97, .25, .12, .76) 0.25s;
}

@keyframes borderError{
    0%{
        width: 100% ;
    }
    50%{
        width: 25%;
    }
    99%{
        width: 100%;
    }
    100%{
        width: 100%;
    }

}


@media screen and (max-width: 480px) {
    .register-layout p {
        font-size: 1.5em;
    }

    .register-img .img {
        width: 150px;
        height: auto;
    }

    .register-layout h4 {
        margin: 0;
    }

    .register-form input {
        width: 150px;
        font-size: 16px;
    }

    .register-form input {

 
        margin-bottom: 25px;
        padding: 5px 0 5px 0;

        font-size: 16px;

    }
}