/**
**  COLORS
**  Space Cadet : #2D3142
**  Silver : #BFC0C0
**  white : #FFFFFF
**  Mandarin : #EF8354
**  Independence : #4F5D75
*/

header{
    background: linear-gradient(to right bottom, #ef8354, #cc616c, #955074, #594364, #2d3142);
    background-size: 250%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px #2d3142;
}

header .logo{
    width: 250px;
    height: 100%;
    cursor: pointer;
}

.logo:hover{
    border: none !important;
}

.layout-nav{
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
}

.nav-menu a, .wrap-nav-hidden a{
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}



a:hover{
    color: #ffffff9f;
    border-bottom: solid 2px #2d3142 !important;
    padding-bottom: 5px;
}


@media screen and (max-width:480px) {
    header{
        display: flex;
        align-items: center;
    }
    a{
        font-size: 20px;
    }

    header .logo{
        width: 150px;
        height: auto;
    }
}